MAIL_SMTP="smtp.gmail.com"
MAIL_SECURE=false # Use true for port 465, false for port 587
MAIL_PORT=465
MAIL_USER="dev.matheuspenna@gmail.com"
MAIL_PASS="fiyr whag dlsn dwrm"
FB_API_KEY="asdllaksdlaskdlaksldklaskdl"
FB_AUTH_DOMAIN="example.firebaseapp.com"
FB_PROJECT_ID="example-dev-project-id"
FB_STORAGE_BUCKET="example-dev.appspot.com"
FB_MESSAGING_SENDER_ID="230203920390293"
FB_APP_ID="1:230203920390293:web:asdlasdklakdslksldk"
FB_MEASUREMENT_ID="G-W02SDKLSP"